body {
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

div {
  margin-top: 55px;
  margin-bottom: 55px;
  padding: 15px;
  border: 4px double red;
}

.gallery {
  list-style: none;
  display: flex;
  flex-direction: column;

  & li {
    margin-top: 25px;
  }

  & image {
    width: 750px;
    height: 750px;
  }
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
